model_config_list:{
    config:{
      name:"location_traffic_convenience",
      base_path:"/models/location_traffic_convenience",
      model_platform:"tensorflow"
    },
    config:{
      name:"service_serving_speed",
      base_path:"/models/service_serving_speed",
      model_platform:"tensorflow"
    },
}
