model_config_list:{
    config:{
      name:"location_traffic_convenience",
      base_path:"/models/location_traffic_convenience",
      model_platform:"tensorflow"
    },
    config:{
      name:"service_serving_speed",
      base_path:"/models/service_serving_speed",
      model_platform:"tensorflow"
    },
    config:{
   	  name:"environment_cleaness"
      base_path:"/models/environment_cleaness",
      model_platform:"tensorflow"
    },
    config:{
        name:"environment_noise"
        base_path:"/models/environment_noise",
        model_platform:"tensorflow"
    },
    config:{
        name:"environment_decoration"
        base_path:"/models/environment_decoration",
        model_platform:"tensorflow"
    },
    config:{
        name:"others_overall_experience"
        base_path:"/models/others_overall_experience",
        model_platform:"tensorflow"
    },
    config:{
        name:"dish_taste"
        base_path:"/models/dish_taste",
        model_platform:"tensorflow"
    },
    config:{
        name:"environment_space"
        base_path:"/models/environment_space",
        model_platform:"tensorflow"
    },
    config:{
        name:"dish_recommendation"
        base_path:"/models/dish_recommendation",
        model_platform:"tensorflow"
    },
    config:{
        name:"service_waiters_attitude"
        base_path:"/models/service_waiters_attitude",
        model_platform:"tensorflow"
    },
    config:{
        name:"dish_portion"
        base_path:"/models/dish_portion",
        model_platform:"tensorflow"
    },
    config:{
        name:"dish_look"
        base_path:"/models/dish_look",
        model_platform:"tensorflow"
    },
    config:{
        name:"location_distance_from_business_district"
        base_path:"/models/location_distance_from_business_district",
        model_platform:"tensorflow"
    },
}